
   
     a {
        text-decoration: none;
      }

     h1, h2, p {text-align: center;}

        p, table  { font-size: 20px;}
        
        td {border-style:solid;}

        a,td {color: rgb(209, 194, 52) ;}

        td {border-color: rgb(235, 235, 235);}

        td {background-color: lavenderblush;}
